{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Datafreezer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{% static "datafreezer/css/styles.css" %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Script libraries -->
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- jquery ui -->
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- jquery debouncing -->
    <script src="http://benalman.com/code/projects/jquery-throttle-debounce/jquery.ba-throttle-debounce.js"></script>

  </head>
  <body id="datafreezer-body">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'datafreezer_home' %}">Datafreezer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'datafreezer_upload' %}">Upload</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Browse<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'datafreezer_browse_authors' %}">By Author</a></li>
                <li><a href="{% url 'datafreezer_browse_tags' %}">By Tag</a></li>
                <li><a href="#">Option2</a></li>
              </ul>
            </li>
            <li><a href="#">Return to ???</a></li>
          </ul>
          <p id="loginText" class="navbar-text navbar-right">Signed in as {{ request.user.email }}</p>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>


    <div id="main" class="container-fluid">
      <div class="container-fluid">
        <div id="header" class="page-header">
          <h2>
            {% block title %}
            {% endblock title %}
          </h2>
        </div>
        {% block content %}
          {% block no_results_msg %}
            <div class="jumbotron">
              <div class="container">
                <h3 class="display-3">There's nothing here yet!</h3>
                <p class="lead">Datasets uploaded via the <a href="{% url 'datafreezer_upload' %}">Upload</a> tab in the navigation bar
                  will be displayed on the homepage and under the <a href="#">Browse</a> tabs.</p>
              </div>
            {% endblock no_results_msg %}
        {% endblock content %}
      </div>
    </div>


    {% block scripts %}{% endblock %}
  </body>
</html>
