{% extends 'datafreezer/base.html' %}

<!--Header container-->

{% block title %}{{ page_title }}{% endblock title %}

{% block custom_head %}
    <style media="screen">
        .table-responsive {
            background: #FFFFFF;
            padding: 1rem;
        }

        .pagination-holder {
            background: #FFFFFF;
            padding: 0 0.75rem;
        }

        .pagination-holder nav {
            border-top: 4px double #E0E0E0;
        }
    </style>
{% endblock %}


{% block content %}

  <!-- Begin descriptor row -->
  {% if sections %}
    <div class="table-responsive">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Title</th>
            <th>Date Uploaded</th>
            <th>Uploader</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          {% for section in sections %}
            <tr>
              <td>{{ section.title }}</td>
              <td>{{ section.date_uploaded }}</td>
              <td>{{ section.fullName }}</td>
              <td>
                <a href="{% url 'datafreezer_dataset_detail' section.id %}" class="btn btn-primary btn-block" role="button">
                  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                </a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

	<div class="pagination-holder text-center">
		<nav aria-label="Page navigation">

			<ul class="pagination pagination-sm">
				{% if sections.has_previous %}
				<li>
					<a href="?page={{ sections.previous_page_number }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% else %}
				<li class="disabled">
					<span>
						<span aria-hidden="true">&laquo;</span>
					</span>
				</li>
				{% endif %}
				{% for page in sections.paginator.page_range %}
					{% if page == 1 %}
						{% if sections.number == page %}
							<li class="active">
								<span>
									{{ page }}
									<span class="sr-only">
										(current)
									</span>
								</span>
							</li>
						{% else %}
							<li>
								<a href="?page={{ page }}">
									{{ page }}
								</a>
							</li>
						{% endif %}
					{% elif page == sections.paginator.num_pages %}
						{% if sections.number == page %}
							<li class="active">
								<span>
									{{ page }}
									<span class="sr-only">
										(current)
									</span>
								</span>
							</li>
						{% else %}
							<li>
								<a href="?page={{ page }}">
									{{ page }}
								</a>
							</li>
						{% endif %}
					{% elif sections.number == page %}
						<li class="active">
							<span>
								{{ page }}
								<span class="sr-only">
									(current)
								</span>
							</span>
						</li>
					{% elif page <= sections.number|add:"1" and page >= sections.number|add:"-1" %}
						<li>
							<a href="?page={{ page }}">
								{{ page }}
							</a>
						</li>
					{% elif page == 2 or page == sections.paginator.num_pages|add:"-1" %}
					<li>
						<span>
							...
							<span class="sr-only">
							</span>
						</span>
					</li>
					{% endif %}
				{% endfor %}
				{% if sections.has_next %}
					<li>
						<a href="?page={{ sections.next_page_number }}" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				{% else %}
					<li class="disabled">
						<span>
							<span aria-hidden="true">&raquo;</span>
						</span>
					</li>
				{% endif %}
			</ul>

		</nav>
	</div>


  {% else %}
    {% block no_results_msg %}
      {{ block.super }}
    {% endblock no_results_msg %}
  {% endif %}
  <!-- End descriptor row -->


<!--End article listing-->
{% endblock content %}
