{% extends 'datafreezer/base.html' %}

<!--Header container-->

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}

  <!-- Begin descriptor row -->
  {% if sections %}
    <div class="container-fluid">
      {% for section in sections %}
        {% if browse_type == 'AUTHORS' %}
          <a href="{% url 'datafreezer_author_detail' section.slug %}">
        {% elif browse_type == 'TAGS' %}
          <a href="{% url 'datafreezer_tag_detail' section.id %}">
        {% endif %}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row-fluid">
                <div class="col-md-8 col-sm-6">
                  <h4>{{ section.name }}</h4>
                </div>
                <div class="col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-4">
                  <h4><small>Uploads:</small> {{ section.count }}</h4>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  {% else %}
    {% block no_results_msg %}
      {{ block.super }}
    {% endblock no_results_msg %}
  {% endif %}
  <!-- End descriptor row -->


<!--End article listing-->
{% endblock content %}
